@use 'variables' as *;
@use 'mixins' as *;

.consultation {
  color: #fff;

  &__row {
    background-image: url(../img/consultation-l.webp), url(../img/consultation-r.webp);
    background-color: #2C2C2C;
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0;
    background-size: auto 100%;
    display: flex;
    justify-content: center;
    padding-top: rem(57);
    padding-bottom: rem(70);
    gap: rem(115);

    @media screen and (max-width: rem(768)) {
      padding: rem(22) rem(40);
      gap: rem(30);
    }

    @media screen and (max-width: 540px) {
      flex-direction: column;
      background-image: url(../img/consultation-mob.webp);
      background-size: cover;
      background-position: 50% 100%;
      text-align: left;
      align-items: flex-start
    }
  }

  &__left {
    text-transform: uppercase;
    text-align: center;
    padding-left: rem(58);
    font-size: clamp(rem(63), 1.8vw + rem(55.98), rem(96));
    font-family: var(--ff-alumni);
    line-height: 0.9;

    span {
      // 165 108
      font-size: rem(165);
      display: block;
    }

    b {
      font-family: var(--ff-roboto);
      font-size: rem(128);
    }

    @media screen and (max-width: rem(768)) {
      padding-left: 0;
      font-size: rem(63);

      span {
        font-size: rem(108);
      }

      b {
        font-size: rem(84);
      }
    }
  }

  &__right {
    .btn {
      height: rem(67);
      width: rem(258);
      font-size: rem(24);
      display: block;
      margin: 0 !important;

      @media screen and (max-width: rem(768)) {
        font-size: rem(24);
        width: rem(255);
      }
    }
  }

  &__title {
    // 64 32
    max-width: rem(650);
    font-size: rem(64);
    font-family: var(--ff-alumni);
    line-height: 0.9;
    padding-bottom: rem(45);

    @media screen and (max-width: rem(768)) {
      font-size: rem(32);
    }
  }
}

.consultation2 {
  .consultation__row {
    gap: rem(50);
  }
}