@use '../mixins' as *;
@use '../variables' as *;

.header {
  background: #676767;
  box-sizing: border-box;
  padding-top: rem(15);
  padding-bottom: rem(15);
  height: rem(101);

  @media screen and (max-width: rem(768)) {
    height: auto;
  }


  .container {
    height: 100%;
  }

  &__row {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  a,
  span {
    color: var(--light-color);
  }

  &__left {
    padding-left: rem(3);

    @media screen and (max-width: rem(962)) {
      display: none;
    }
  }

  &__logo {
    display: none;

    @media screen and (max-width: rem(962)) {
      display: block;
    }

    @media screen and (max-width: rem(640)) {
      width: 108px;
    }
  }

  &__center {
    @media screen and (max-width: rem(962)) {
      display: none;
    }
  }

  .container {
    position: relative;
  }

  &__search {
    display: none !important;
    width: rem(50);
    height: rem(50);
    right: rem(12);
    top: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, -50%);

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media screen and (max-width: rem(962)) {
      position: static;
      margin-top: rem(40);
    }

    @media screen and (max-width: rem(768)) {
      margin-top: rem(20);
      height: auto;
    }
  }

  &__burger {
    display: none;

    @media screen and (max-width: rem(962)) {
      display: block;
    }
  }
}

.promo {
  background-color: #5E5E5E;
  background-image: url('../img/promo.webp');
  background-size: cover;

  @media screen and (max-width: rem(1500)) {
    background-image: url('../img/promo-1350.webp');
  }

  @media screen and (max-width: rem(465)) {
    background-image: url('../img/promo-sm.webp');
  }

  .header__burger {
    opacity: 0.5;
  }


  .header {
    background: transparent;
  }

  .bdt,
  .bdb,
  .bdl,
  .bdr {
    border-color: #696969;
  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    position: relative;
    height: calc(100vh - rem(101));
    max-height: rem(910);
    padding: rem(64) rem(65);
    min-height: 892px;

    @media screen and (max-width: rem(992)) {
      padding: rem(54) rem(23);
      min-height: auto;
    }

    @media screen and (max-width: rem(768)) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 0;
      min-height: rem(540);
      height: calc(100vh - rem(150));
    }
  }

  .subtext {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: rem(73);
    margin-top: rem(20);
    font-family: "Alumni Sans";




    @media screen and (max-width: rem(992)) {
      font-size: rem(32);
    }
  }

  .promo-text {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: rem(30);
    line-height: 96%;
    text-transform: uppercase;
    color: #FFFFFF;
    justify-content: center;
    gap: rem(10);
    align-items: center;

    span {
      color: #D6B07C;
    }

    @media screen and (max-width: rem(992)) {
      font-size: rem(12);
      margin-top: rem(20);
    }
  }


  h1 {
    padding-top: rem(72);
    font-family: 'Alumni Sans';
    text-transform: uppercase;
    font-size: rem(195);
    line-height: 80%;
    text-align: center;
    background: linear-gradient(236.99deg, #E6D1BE 3.58%, #E5CEBC 31.37%, #C9A58B 68.75%, #DDAD93 92.85%, #C99E82 101.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // font-size: clamp(rem(49), 4.8366vw + rem(30.137), rem(123));


    @media screen and (max-width: rem(1678)) {
      font-size: rem(140);
    }
    @media screen and (max-width: rem(1225)) {
      font-size: rem(110);
    }

    @media screen and (max-width: rem(992)) {
      font-size: rem(80);
    }

    @media screen and (max-width: rem(768)) {
      font-size: rem(46);
    }
  }



  &__buttons {
    display: flex;
    gap: rem(50);
    margin-top: 10%;

    @media screen and (max-width: rem(768)) {
      margin-top: 40%;
    }

    .btn__gold {
      width: rem(378);
      height: rem(67);
      font-size: rem(24);
      margin: auto;

      @media screen and (max-width: rem(768)) {
        height: rem(45);
        font-size: rem(16);
        width: 100%;
      }
    }

    @media screen and (max-width: rem(768)) {
      gap: rem(20);

    }

    @media screen and (max-width: rem(550)) {
      flex-direction: column;
    }
  }

  .promo-to-down {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0;
    bottom: 4%;

    @media screen and (max-width: rem(768)) {
      display: none;
    }
  }


  &__contacts-bar {
    padding-top: rem(100);
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    transform: translate(100%, 0);
    top: 0;
    height: rem(4);
    opacity: 0.5;
    width: var(--container-padding);
    align-items: center;
    gap: rem(23);

    @media screen and (max-width: rem(768)) {
      position: static;
      width: 100%;
      transform: translate(0, 0);
      flex-direction: row;
      height: rem(22);
      gap: rem(14);
      padding-top: 0;
      padding-left: 0;
      padding-bottom: rem(18);
      box-sizing: content-box;
    }
  }

}

.menu-logo {
  padding-left: rem(15);
  padding-right: rem(15);

  @media screen and (max-width: rem(1289)) {
    width: 170px;
  }

  @media screen and (max-width: rem(1159)) {
    display: none;
  }
}

.main-menu ul {
  padding-left: rem(15);
  padding-right: rem(15);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(45);

  @media screen and (max-width: rem(1289)) {
    gap: rem(25);
  }
}

.language-switcher {
  padding-right: rem(16);

  ul {
    display: flex;
    flex-direction: row-reverse;

    span {
      font-size: rem(16);
      text-transform: uppercase;
    }

    li {
      &:last-child {
        border-right: 1px solid #fff;
        margin-right: rem(7);
        padding-right: rem(7);
      }
    }

    .wpml-ls-current-language {
      background: linear-gradient(80.48deg, #E6D1BE 61.81%, #896954 85.63%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  @media screen and (max-width: rem(962)) {
    // display: none;
    padding-right: 0;
  }

}

.mobile-menu {
  // приховуємо за межами екрана
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  padding: rem(30);
  padding-bottom: 0;
  position: fixed;
  width: 100vw;
  // border-top: 1px solid #696969;
  // border-right: 1px solid #696969;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(#676767, 1);
  overflow: auto;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // gap: rem(20);
  pointer-events: none;

  // активний стан меню — з'являється зліва
  &.active {
    transform: translateX(0);
    pointer-events: auto; // активує взаємодію
  }

  // @media screen and (max-width: rem(962)) {
  //   display: flex; // завжди флекс — лише рухаємо transform
  // }

  // #main_menu {
  //   .current-menu-item a {
  //     color: var(--primary-color);

  //   }

  //   a {
  //     color: #fff;
  //     font-size: rem(20);
  //   }

  //   li {
  //     margin-bottom: rem(20);
  //   }
  // }

  .mobile-menu-wr {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 768px) {

      justify-content: space-between;
    }

    // gap: rem(30);


    // gap: rem(20);
    .menu-golovne-menyu-container {
      padding-top: rem(70);
      padding-bottom: rem(15);

      li {
        padding: rem(16) 0;
        max-width: rem(300);
      }

      li:not(last-child) {
        border-bottom: 1px solid #787878;
      }

      a {
        font-size: rem(20);
        font-weight: 500;
        padding: rem(10) 0;
      }
    }

    .mobile-menu-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .menu__social-bar {
      display: flex;
      gap: rem(14);
      align-items: center;
      justify-content: center;
      padding-top: rem(70);
      padding-bottom: rem(30);
    }
  }

}